body {
    background-color: #0057b8;
    color: white;
}

h1 {
    text-align: center;
}

h2 {
  border-bottom: 1px solid white;
}

p {
    font-family: verdana;
    font-size: 20px;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: lower-alpha;
}

.about {
  display: flex;
}

.about-pictures {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-info {
  padding-left: 14px;
}

.navigation-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #D9B48FFF;
}

.navigation-bar li {
  float: left;
}

.navigation-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigation-bar li a:hover {
  background-color: #B3C7D6FF;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    display: flex;
    flex-wrap: wrap;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    width: 960px;
    margin: 0 auto;
  }
}
